component
  width: min-content
  display: flex
  flex-direction: row
  column-gap: 0.5em
  align-items: center

  > hr
    width: 0.5em
    height: 1px
    border: none
    background: var(--color-shadow)